<div class="col-md-4"></div>
<div class="col-md-8">
  <div class="user-form">
    <div class="form-heading"><h2>Join CookedUp</h2></div>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-text-input"><%= f.label :username %><br />
      <%= f.text_field :username, :autofocus => true %></div>

      <div class="form-text-input"><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>

      <div class="form-text-input"><%= f.label :password %><br />
      <%= f.password_field :password %></div>

      <div class="form-text-input"><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>

      <div class="form-text-input"><%= f.label :role %><br />
      <%= f.select :role, ['professional', 'foodie'] %></div>

      <div class="submit-button"><%= f.submit "Join CookedUp" %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
  <p></p>
</div>
