= form_for(@job) do |f|

  = f.label :job_title
  %br/
  = f.text_field :job_title
  %br/
  = f.label :job_description
  %br/
  = f.text_area :job_description
  %br/
  = f.label :employed_from
  %br/
  = f.date_select :employed_from, :order => [:day, :month, :year]
  %br/
  = f.label :employed_to
  %br/
  = f.date_select :employed_to, :order => [:day, :month, :year]
  %br/
  = f.label :restaurant_id
  %br/
  = f.select :restaurant_id, restaurants_for_select, :prompt => true
  %br/
  %p
  = f.submit
  %p

