Add a New Job - Under Construction

= form_for(@job) do |f|

  = f.label :job_title
  = f.text_field :job_title
  %br/
  = f.label :job_description
  = f.text_area :job_description
  %br/
  = f.label :employed_from
  = f.text_field :employed_from
  %br/
  = f.label :employed_to
  = f.text_field :employed_to
  %br/
  = f.label :restaurant_id
  = f.select :restaurant_id, restaurants_for_select, :prompt => true
  %br/
  = f.submit

