- if user_signed_in?
  .user-form
    .form-heading
      %h2
        Change Password
    = form_for(resource, :as => resource_name, :url => update_password_users_path, :html => { :method => :put }) do |f|
      .form-text-input
        = f.label :new_password
        %br/
        = f.password_field :password, :autocomplete => "off"
      .form-text-input
        = f.label :confirm_new_password
        %br/
        = f.password_field :password_confirmation
      .form-text-input
        = f.label :current_password
        %br/
        = f.password_field :current_password
      .submit-button
        = f.submit "Update"
