%p The Professionals

= will_paginate @users

#pagination_table
  - @users.each do |user|
    %ul
      %li
        - if user.username.nil?
          %h4= link_to(user.username, user_path(user))
          %p= image_tag rest.image_url(:thumb)
        - else
          %h4= link_to(user.username, user_path(user))
          %p= image_tag user.image_url(:thumb)

          - if user.first_name.nil?
          - elsif user.last_name.nil?
            %p= user.first_name
          -else
            %p= user.first_name + " " + user.last_name

          - if user.jobs.empty?
          - else
            = user.jobs.first.job_title
            - if user.jobs.first.restaurant.nil?
            - else
              = link_to user.jobs.first.restaurant.name, user.jobs.first.restaurant
