.container
  .row
    .col-md-4
    .col-md-8.user
      .col-md-6.user-img
        %p= image_tag @user.image_url(:thumb)
      .col-md-6
        -if @user.username.empty?
        -else
          %h4= @user.username

        - if @user.first_name.nil?
        - elsif @user.last_name.nil?
          = @user.first_name
        - else
          = @user.first_name + " " + @user.last_name

        - if @user == current_user
          %p
          = link_to "Edit Profile", edit_user_registration_path
          = link_to "Change Password", "change_password"

  .row
    .col-md-4
    .col-md-8.job
      - @jobs.each do |job|
        .row.job-left
          .col-md-6
            %h4
              = job.job_title
              - if job.restaurant.nil?
              - else
                %p
                = link_to job.restaurant.name, job.restaurant
          .col-md-6.job-right
            = job.employed_from.strftime("%b %Y")
            = "-"
            = job.employed_to.strftime("%b %Y")
            %p
            - if @user == current_user
              = link_to "Delete Job", "job#destroy"
        .row
          - if job.job_description.nil?
          - else
            .job-description
              = job.job_description

      .link-see-others
        = link_to "See others", "/users"
  %p
