.container
  .row
    .col-md-3
    .col-md-9.row-block-no-margin
      .col-md-9.col-break-right
        .row
          .col-md-6.user-img
            %p= image_tag @restaurant.image_url(:thumb)
          .col-md-6
            %h4= @restaurant.name
            %p= @restaurant.address1
            %p= @restaurant.address2
            %p= @restaurant.town
            %p= @restaurant.postcode
            %p= @restaurant.cuisine
            .hide
              %p= @restaurant.hygiene_rating
            %img{src: @fhrs_image}
            %p
        .row
          - if can? :create, @review
            .review-form
              .form-heading
                %h3
                  Write a review:
              = form_for(@review) do |f|

                = hidden_field_tag :restaurant_id, @restaurant.id
                .review-text-input
                  = f.label :title
                  %br/
                  = f.text_field :title
                  %br/
                .review-text-input
                  = f.label :body
                  %br/
                  = f.text_area :body
                %br/
                = f.submit
        .row
          .review-form
            - @reviews.each do |review|
              %h4
                = review.title
              %p
                = review.body
                %br/
                - if review.user.nil?
                  written by unknown user
                - else
                  written by
                  = link_to review.user.username, review.user
                = time_ago_in_words(review.created_at) + " ago"
              %p
                - if review.user == current_user
                  = link_to "Edit Review", edit_review_path(review)
                  = link_to "Delete Review", review, method: :delete
        .link-see-others
          = link_to "Back to Restaurants", "/restaurants"

      .col-md-3
        %p
        See who has worked here:

        - @users.each do |user|
          %h4
            = link_to user.username, user
          = user.jobs.where(restaurant_id: @restaurant.id).first.job_title
          %br/
          = "(" + user.jobs.where(restaurant_id: @restaurant.id).first.employed_from.strftime("%b, %Y")
          to
          = user.jobs.where(restaurant_id: @restaurant.id).first.employed_to.strftime("%b, %Y") + ")"
  %p







