%h4= @restaurant.name
%p= image_tag @restaurant.image_url(:thumb)
%p= @restaurant.address1
%p= @restaurant.address2
%p= @restaurant.town
%p= @restaurant.postcode
%p= @restaurant.cuisine
%p= @restaurant.hygiene_rating

Write a review:
= form_for(@review) do |f|

  = hidden_field_tag :restaurant_id, @restaurant.id
  = f.label :title
  = f.text_field :title
  %br/
  = f.label :body
  = f.text_area :body
  %br/
  = f.submit

- @restaurant.reviews.order('created_at DESC').each do |review|
  %h4
    = review.title
  %p
    = review.body
    %br/
    - if review.user.nil?
      written by unknown user
    - else
      written by
      = link_to review.user.username, review.user
    = time_ago_in_words(review.created_at) + " ago"
  %p
    = link_to "Edit Review", edit_review_path(review)
    = link_to "Delete Review", review, method: :delete


- @restaurant.users.order('created_at DESC').each do |user|
  %ul
    %li
      %h4
        = link_to user.username, user
        %br/
        = user.jobs.where(restaurant_id: @restaurant.id).first.job_title
        (from
        = user.jobs.where(restaurant_id: @restaurant.id).first.employed_from
        to
        = user.jobs.where(restaurant_id: @restaurant.id).first.employed_to + ")"

= link_to "Back", :back
