%h4= @restaurant.name
%p= @restaurant.address1
%p= @restaurant.address2
%p= @restaurant.town
%p= @restaurant.postcode
%p= @restaurant.cuisine
%p= @restaurant.hygiene_rating

- @restaurant.reviews.order('created_at DESC').each do |review|
  %h4
    = review.title
  %p
    = review.body
    %br/
    = review.user.username
    = time_ago_in_words(review.created_at) + " ago"
  %p
    = link_to "Edit Review", edit_review_path(review)

- @restaurant.users.order('created_at DESC').each do |user|
  %ul
    %li
      %h4
        = link_to user.username, user
        %br/
        = user.jobs.where(restaurant_id: @restaurant.id).first.job_title
        (from
        = user.jobs.where(restaurant_id: @restaurant.id).first.employed_from
        to
        = user.jobs.where(restaurant_id: @restaurant.id).first.employed_to + ")"


