!!!
%html
  %head
    = favicon_link_tag '/favicon.ico'
    %title
      Cookedup!
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Volkhov:300,400,700", :rel => "stylesheet", :type => "text/css"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Skia:300,400,700", :rel => "stylesheet", :type => "text/css"
    = stylesheet_link_tag  "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .page
      %nav.nav-bar
        - if user_signed_in?
          .search
            = form_tag searches_path do
              = label_tag :search
              = text_field_tag :query
              %input.search-button.submit{name: "saveForm", src: "/assets/search-button-without-text.svg", type: "image", width: 30}
        .nav-links
          .nav-right
            - if user_signed_in?
              = link_to "Your Profile", current_user
              = link_to 'Logout',  destroy_user_session_path, method: :delete
            - else
              = link_to 'Sign up', new_user_registration_path
              = link_to 'Login', new_user_session_path
            %br
      .nav2.nav-bar
        .nav-links2
          .nav-right2
            - if user_signed_in?
              = link_to "Browse Restaurants", restaurants_path
              = link_to "See the Professionals", users_path
              = link_to "Meet Other Foodies", "/users/foodies"
      %nav.nav-logo
        = link_to image_tag("/assets/cookedup3.png"), root_path



      \#{yield}
